<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashboard
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/search']">
            <mat-icon class="sidenav-icon">search</mat-icon> Search
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/accounts']">
            <mat-icon class="sidenav-icon">account_circle</mat-icon> Account
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/meetings']">
            <mat-icon class="sidenav-icon">work</mat-icon>Meetings
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/schedule']">
          <mat-icon class="sidenav-icon">event</mat-icon> Schedule
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/documents']">
        <mat-icon class="sidenav-icon">insert_drive_file</mat-icon>Documents
    </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/messages']">
          <mat-icon class="sidenav-icon">message</mat-icon>Messages
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/settings']">
          <mat-icon class="sidenav-icon">build</mat-icon> Settings
        </a>
    </mat-nav-list>
</div>
